* {
    box-sizing: border-box;
  }

img {
    max-width: 100%;
}

body {
  background: bisque;
}

.dark {
  background: rgb(171, 153, 132);
  transition:background .5s;
}

.sidebar {
  padding: 20px;
  background-color: rgb(237, 91, 176);
  color: white;
  font-size: 20px;
  position: fixed;
  right: -300px;
  top: 0;
  width: 300px;
  height: 100vh;
  text-align: center;
  transition: right .5s;
}

.active {
   right: 0;
  }

  .spinner {
    background-color: slategray;
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 30px;
    left: 30px;
    transition: transform .5s;
  }

  .spin {
    transform: rotate(180deg);
  }
