body {
    background-color: rgb(30, 30, 30);
}

h1 {
    color: rgb(255, 68, 171);
}

h2 {
    color: rgb(248, 33, 255);
}

h3 {
    color: rgb(84, 224, 255);
    text-align: center;
}

h4 {
    color: rgb(195, 43, 226);
}

h5 {
    background-color: bisque;
    color: blue;
    font-size: 42px;
    padding: 100px;
}

h6 {

}

details {
    background-color: rgb(240, 240, 240);
    color: rgb(48, 48, 48);
    padding: 0;
}

summary {
    text-align: center;
    color: aliceblue;
    background-color: rgb(173, 75, 200);
}

a {
    color: rgb(18, 155, 186);
}

img {
    align-items: center;

}

.bubblemonster {
    position: absolute;
    top: 450px;
    left: 200px;
}
